<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>MoviesCollections</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <header>
        <h1>MoviesCollections</h1>
    </header>
    <body>
        <div id="mo-co">
            <p>
                newTitle:<input type="text" v-model="newTitle"><br>
                newMemo:<input type="text" v-model="newMemo"><br>
                Category:<select>
                    <option selected>アクション</option>
                    <option>ホラー・サスペンス</option>
                    <option>ラブロマンス</option>
                    <option>SF・ファンタジー</option>
                    <option>アニメ</option>
                </select>
                <button @click="addMovie">追加</button>
            </p>
            <li v-for="movie in Movies" :key="movie.id">
                <span>{{ movie.title }}{{ movie.memo }}{{ movie.category }}</span>
            </li>
        </div>
     <!-- Vue.js -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
     <script src="./main.js"></script>
    </body>
</html>