<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>MoviesCollections</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <header>
        <h1>MoviesCollections</h1>
    </header>
    <body>
        <div id="mo-co">
            <p>
                newTitle:<input type="text" v-model="newTitle"><br>
                newMemo:<input type="text" v-model="newMemo"><br>
                Category:<select name="categorys" v-model="newCategory" id="selectCategorys">
                    <option value="">カテゴリーを選択</option>
                    <option value="action">アクション</option>
                    <option value="horrorSuspence">ホラー・サスペンス</option>
                    <option value="loveromance">ラブロマンス</option>
                    <option value="sfFantasy">SF・ファンタジー</option>
                    <option value="anime">アニメ</option>
                </select>
                <button @click="addMovie">Add</button>
            </p>

            <div class="radio-button">
            <label><input type="radio" v-model="newCategory" value=""><span>全て</span></label>
            <label><input type="radio" v-model="newCategory" value="action"><span>アクション</span></label>
            <label><input type="radio" v-model="newCategory" value="horrorSuspence"><span>ホラー・サスペンス</span></label>
            <label><input type="radio" v-model="newCategory" value="loveromance"><span>ラブロマンス</span></label>
            <label><input type="radio" v-model="newCategory" value="sfFantasy"><span>SF・ファンタジー</span></label>
            <label><input type="radio" v-model="newCategory" value="anime"><span>アニメ</span></label>
            </div>
            
            <br>
            <li v-for="movie in filterByCategory" :key="movie.id">
                <span>{{ movie.id }}{{ movie.title }}{{ movie.memo }}{{ movie.category }}</span>
                <button @click="DeleteMovies(movie)">Delete</button>
            </li>

        </div>
     <!-- Vue.js -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
     <script src="./main.js"></script>
    </body>
</html>